.search {
    background-color: rgb(188, 147, 188);
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search_container {
display: flex;
gap: 0.5rem
}

.search_container input,
.search_container button {
    padding: .6rem;
    border: none;
    border-radius: 5px;
    color:black;
}

.search_container button {
background-color: darkcyan;
}

.search_container button:hover{
    background-color: palegoldenrod;
    cursor: pointer
    }